{
	"require": {
		{{- range $index, $ext := (ds "values").packages }}
		"{{ $ext.name }}": "{{ $ext.version }}"{{ if lt $index (sub (len (ds "values").packages) 1) }},{{ end }}
		{{- end }}
	},
	"extra": {
		"merge-plugin": {
			"include": [
{{- $allExtensions := (ds "values").extensions -}}
{{- $extensions := coll.Slice -}}
{{- range $ext := $allExtensions -}}
{{- range $name, $details := $ext -}}
{{- if has (index $details "additional steps") "composer update" -}}
{{- $extensions = $extensions | append $ext -}}
{{- end -}}
{{- end -}}
{{- end -}}
				{{- range $index, $ext := $extensions }}
				{{- range $name, $details := $ext -}}
				{{- if has (index $details "additional steps") "composer update" }}
				"extensions/{{ $name }}/composer.json"{{ if lt $index (sub (len $extensions) 1 ) }},{{ end }}
				{{- end }}
				{{- end -}}
				{{- end }}
			]
		}
	},
	"repositories": [
		{{- range $index, $ext := (ds "values").repositories }}
		{
			"type": "{{ $ext.type }}",
			"url": "{{ $ext.url }}"
		}{{ if lt $index (sub (len (ds "values").repositories) 1) }},{{ end }}
		{{- end }}
	]
}
